body
{ width: 1000px;height: auto;
    position: relative;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

h2{
    text-align: center;
    
}

legend{
    font-weight: bold;
    color: burlywood;
    background-color: darkgreen;
    border-radius: 5px;
}
form{
    width: 1200px;
    border: 1px solid rgb(4, 49, 4);
    background: rgba(35, 153, 14, 0.5  );
    
   
    background-color: darkgreen;
    
    color: rgb(187, 255, 0);
}

fieldset{
    
    background: rgb(124, 158, 117);
    padding: 15px;
    margin: 20px;
    
}

label{
    
 
}
input{
    margin: 0px 5px 5px 0px;
    padding: 1px;
background: whitesmoke;
}

.contenedor{
   display: flex; 
}

div {
   
   flex-direction: row;
   width: 50%;
    
}


#nombreapellidos{
   flex-wrap: wrap;
}

#edadysexo{
    flex-wrap: nowrap;
}

#obligatorios{
    border: 3px rgb(187, 255, 0) solid;
}

select{
    margin-left: 10px;
    margin-right: 10px;
}

select[multiple]{
    height: 120%;
  }
#checkboxing input{
    margin: 0px 10px 15px 10px;
}

#archivos{
    border: 1px solid gray;
    border-collapse: collapse;
    color: black;
}



#enviar{
    background-color: darkgreen;
    color: burlywood;
    border-radius: 5px;
}

#enviar:hover{
    background-color: greenyellow;
    color: green;
    border-radius: 5px;
}

#reset{
    background-color: darkgreen;
    color: burlywood;
    border-radius: 5px;
}

#reset:hover{
    background-color: greenyellow;
    color: green;
    border-radius: 5px;
}
