body
{ width: 1000px;height: 1020px; 

}

h2{
    text-align: center;
    
}

legend{
    font-weight: bold;
}
form{
    width: 1200px;
    border: 1px solid black;
    background:#FaFaFa;
    color: black;
}

fieldset{
    background: whitesmoke;
    padding: 15px;
    margin: 20px;
    
}

label{
    float: left;
    
}
input{
    margin: 0px 10px 10px 0px;
    padding: 1px;
}

.contenedor{
   display: flex; 
}

div {
   
   flex-direction: row;
   width: 50%;
    
}


#nombreapellidos{
   flex-wrap: wrap;
}

#edadysexo{
    flex-wrap: nowrap;
}

#obligatorios{
    border: 1px orangered solid;
}

select{
    margin-left: 10px;
    margin-right: 10px;
}

select[multiple]{
    height: 120%;
  }

